<div class="admin__wrapper">
  <div class="admin__nav">
    <a routerLinkActive="active" routerLink="/admin/edit-product">Edit product</a>
    <a routerLinkActive="active" routerLink="/admin/add-product">Add product</a>
    <a routerLinkActive="active" routerLink="/admin/manage-users">Manage users</a>
    <a routerLinkActive="active" routerLink="/admin/emp-list">Emp list</a>
    <a routerLinkActive="active" routerLink="/admin/dept-list">Dept list</a>
    <a routerLinkActive="active" routerLink="/admin/emp-add">Add emp</a>
    <a routerLinkActive="active" routerLink="/admin/dept-add">Add dept</a>
  </div>
  <div class="admin__content">
    <router-outlet></router-outlet>
  </div>
</div>
