.products__row {
  display: flex;
  align-items: center;
}

.products__col {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 11vw;
  box-sizing: border-box;
  padding-right: 20px;
}

.products__col_short {
  width: 2vw;
}

.products__headrow {
  font-weight: 700;
  margin-bottom: 20px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.link {
  color: #1d1d20;
  font-family: Roboto;
  text-decoration: none;
  cursor: pointer;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.link .active {
  color: red;
}
