:host {
  display: block;
  width: 100%;
}

.login__container {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.login {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  align-items: center;
}

.controls button:first-child {
  margin-right: 20px;
}
