<div class="add-product" @pageAnimations>
  <mat-form-field class="add-product__row">
    <input matInput placeholder="Title"
      [(ngModel)]="product.title">
  </mat-form-field>

  <mat-form-field class="add-product__row">
    <input matInput placeholder="Brand"
      [(ngModel)]="product.brand">
  </mat-form-field>

  <mat-form-field class="add-product__row">
    <input matInput placeholder="Price"
      type="number"
      [(ngModel)]="product.price">
  </mat-form-field>

  <mat-form-field class="add-product__row">
    <textarea matInput placeholder="Description"
      [(ngModel)]="product.description">
    </textarea>
  </mat-form-field>

  <div class="add-product__container">
    <mat-slide-toggle [(ngModel)]="product.votable">
      Votable
    </mat-slide-toggle>
  </div>

  <mat-form-field class="add-product__row">
    <input matInput placeholder="Vote count"
      type="number"
      [(ngModel)]="product.vote_count">
  </mat-form-field>

  <div class="add-product__container">
    <mat-form-field class="add-product__row">
      <input matInput placeholder="Image url"
        [(ngModel)]="product.image">
    </mat-form-field>
    <img *ngIf="product.image"
      class="add-product__image"
      [src]="product.image">
  </div>

  <div class="controls">
    <button mat-raised-button
      color="primary"
      (click)="updateProduct()">
      Save
    </button>
    <button mat-raised-button
      color="danger"
      (click)="close()">
      Cancel
    </button>
  </div>
</div>
